<% include ./src/includes/head %>
<body>

    <% include ./src/includes/top-baza %>

    <div class="c-single">
        <div class="o-section o-section--bigTopPadding">
            <div class="o-wrap o-wrap--narrow">
                
                <header class="o-header">
                    <h1 class="o-lead o-lead--1 u-underline">Baza wiedzy</h1>
                </header>                
            </div>
        </section>
    </div>
    
    <div class="o-wrap">
        <div class="c-grid js-grid ">
            
            <div class="c-filters">
                <div class="c-filters__trigger">
                    <span class="js-filtersTrigger" data-show="rozwiń filtry" data-hide="zwiń filtry">rozwiń filtry</span>
                </div>
            </div>
            
            <% include ./src/includes/filterspanel %>
            
            
            <div class="c-grid__content js-mix">
                <a href="wpis.html" class="c-grid__item mix spec-1 cat-1">
                    <figure class="o-box">
                        <div class="photo">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/photos/thumb-01.jpg") %> alt="" width="320" height="320">
                        </div>
                        
                        <figcaption>
                            <p class="o-lead o-lead--3">Prawo budowlane</p>
                            <p class="o-lead o-lead--2">Lorem ipsum dolor sit amet, consectetur</p>
                        </figcaption>
                    </figure>
                </a>
                
                <a href="wpis.html" class="c-grid__item mix spec-1 cat-1">
                    <figure class="o-box">
                        <div class="photo">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/photos/thumb-02.jpg") %> alt="" width="320" height="320">
                        </div>
                        
                        <figcaption>
                            <p class="o-lead o-lead--3">Zamówienia publiczne</p>
                            <p class="o-lead o-lead--2">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </figcaption>
                    </figure>
                </a>
                   
                <a href="wpis.html" class="c-grid__item mix spec-2 cat-1">
                    <figure class="o-box">
                        <div class="photo">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/photos/thumb-03.jpg") %> alt="" width="320" height="320">
                        </div>
                        
                        <figcaption>
                            <p class="o-lead o-lead--3">Planowanie przestrzenne</p>
                            <p class="o-lead o-lead--2">Lorem ipsum dolor sit amet, consectetur</p>
                        </figcaption>
                    </figure>
                </a>
                
                <a href="wpis.html" class="c-grid__item mix spec-3 cat-4">
                    <figure class="o-box">
                        <div class="photo">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/photos/thumb-04.jpg") %> alt="" width="320" height="320">
                        </div>
                        
                        <figcaption>
                            <p class="o-lead o-lead--3">Prawo budowlane</p>
                            <p class="o-lead o-lead--2">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </figcaption>
                    </figure>
                </a>
                
                

                <a href="wpis.html" class="c-grid__item mix spec-4 cat-2">
                    <figure class="o-box">
                        <div class="photo">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/photos/thumb-05.jpg") %> alt="" width="320" height="320">
                        </div>
                        
                        <figcaption>
                            <p class="o-lead o-lead--3">Prawo budowlane</p>
                            <p class="o-lead o-lead--2">Lorem ipsum dolor sit amet, consectetur</p>
                        </figcaption>
                    </figure>
                </a>
                
                <a href="wpis.html" class="c-grid__item mix spec-1 cat-5">
                    <figure class="o-box">
                        <div class="photo">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/photos/thumb-06.jpg") %> alt="" width="320" height="320">
                        </div>
                        
                        <figcaption>
                            <p class="o-lead o-lead--3">Zamówienia publiczne</p>
                            <p class="o-lead o-lead--2">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </figcaption>
                    </figure>
                </a>
                   
                <a href="wpis.html" class="c-grid__item mix spec-3 cat-3">
                    <figure class="o-box">
                        <div class="photo">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/photos/thumb-07.jpg") %> alt="" width="320" height="320">
                        </div>
                        
                        <figcaption>
                            <p class="o-lead o-lead--3">Planowanie przestrzenne</p>
                            <p class="o-lead o-lead--2">Lorem ipsum dolor sit amet, consectetur</p>
                        </figcaption>
                    </figure>
                </a>
                
                <a href="wpis.html" class="c-grid__item mix spec-4 cat-2">
                    <figure class="o-box">
                        <div class="photo">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/photos/thumb-08.jpg") %> alt="" width="320" height="320">
                        </div>
                        
                        <figcaption>
                            <p class="o-lead o-lead--3">Prawo budowlane</p>
                            <p class="o-lead o-lead--2">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </figcaption>
                    </figure>
                </a>

            </div>
        </div>
<!--
        
        <div class="o-more">
            <a href="baza-wiedzy.html">Czytaj więcej</a>
        </div>
-->
    </div>

    <% include ./src/includes/footer %>
    
    
</body>
</html>


